@charset "ISO-8859-1";


* {
	margin: 0;
	padding: 0;
}


#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	
}


#header {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
	
}


.one {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	font-weight: bold;
	
}


h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}



#upper {
	background-color: #0000ffc2;
	padding: 10px;
}

#banner {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 235px;
	height: 150px;
	
}


